

nav {
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
  font-family: "Open Sans", sans-serif;
}
nav .logo {
  margin-left: -72px;
  display: flex;
  font-size: 26px;
  color: white;
}
nav.logo.active{
  position: fixed;
  top:0; left:0; right:0;
  z-index:1000;
}

nav .logo h4 {
  margin: 10px;
  font-weight: 100;
}
nav .logo img {
  height: 50px;
  width: 60px;
  margin-top: 5px;
  filter: invert(100%);
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 7px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active {
  background: white;
  color: black;
}
nav ul li {
  margin: 0 7px;
}
nav .menu-btn i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click:checked ~ .menu-btn i::before {
  content: "\f00d";
}
#click {
  display: none;
}
#click:checked ~ ul {
  left: 0%;
}
@media (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 1000;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 20px;
    display: block;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
  nav .menu-btn i {
    display: block;
  }
}


.middle {
  margin-top: 20em;
  margin-left: 12em;
  margin:0;
  padding:0;
  height:100vh;
  display:flex;
  background-color: #FADBD8;
}
.buttons{
  margin-top: 12em;
  margin-left: 12em;
}
.button{
  margin: .5em;
  font-family: 'Raleway',sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color:#B03A2E;
  background-color: #fff;
  border:2px solid rgba(112,111,211,0);
  border-radius: 15px; 
  outline: none;
  cursor: pointer;
  padding: .7em 1.5em;
  transition: .3s;
}
.button:focus{
  color: #706fd3;
  border:2px solid rgba(112,111,211,1);
  box-shadow: 0px 0px 0px 1px rgb(58,57,101);
  animation: anim-shadow .3s forwards;
}
@keyframes anim-shadow{
100% {
  box-shadow: 0px 0px 50px 20px rgba(112,111,211,0);
}
}
